<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [2]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=4fWFdaRHXArji634AmKZ5iOM7KHFT5zX" #Make sure to change ******* to your API key.
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1678910943,
 'base': 'EUR',
 'date': '2023-03-15',
 'rates': {'AED': 3.886621,
  'AFN': 93.120518,
  'ALL': 115.237677,
  'AMD': 410.995354,
  'ANG': 1.909109,
  'AOA': 537.036499,
  'ARS': 214.367389,
  'AUD': 1.598474,
  'AWG': 1.904741,
  'AZN': 1.799913,
  'BAM': 1.956853,
  'BBD': 2.122482,
  'BDT': 111.716985,
  'BGN': 1.954468,
  'BHD': 0.39889,
  'BIF': 2201.563217,
  'BMD': 1.058189,
  'BND': 1.430412,
  'BOB': 7.314937,
  'BRL': 5.603646,
  'BSD': 1.05929,
  'BTC': 4.3510604e-05,
  'BTN': 87.66818,
  'BWP': 14.07924,
  'BYN': 2.674415,
  'BYR': 20740.513848,
  'BZD': 2.124094,
  'CAD': 1.455825,
  'CDF': 2171.404744,
  'CHF': 0.986016,
  'CLF': 0.03147,
  'CLP': 868.353115,
  'CNY': 7.308808,
  'COP': 5131.160798,
  'CRC': 577.72183,
  'CUC': 1.058189,
  'CUP': 28.042021,
  'CVE': 109.257947,
  'CZK': 24.060271,
  'DJF': 188.061473,
  'DKK': 7.44632,
  'DOP': 58.041547,
  'DZD': 144.534686,
  'EGP': 32.696958,
  'ERN': 15.872842,
  'ETB': 56.941434,
  'EUR': 1,
  'FJD': 2.359657,
  'FKP': 0.871173,
  'GBP': 0.877558,
  'GEL': 2.735387,
  'GGP': 0.871173,
  'GHS': 13.174012,
  'GIP': 0.871173,
  'GMD': 65.082693,
  'GNF': 9142.757103,
  'GTQ': 8.25721,
  'GYD': 223.520291,
  'HKD': 8.308851,
  'HNL': 26.110797,
  'HRK': 7.426664,
  'HTG': 163.299456,
  'HUF': 396.546996,
  'IDR': 16332.784289,
  'ILS': 3.836815,
  'IMP': 0.871173,
  'INR': 87.408409,
  'IQD': 1546.014833,
  'IRR': 44734.960151,
  'ISK': 150.421498,
  'JEP': 0.871173,
  'JMD': 161.465369,
  'JOD': 0.751215,
  'JPY': 140.983114,
  'KES': 137.679998,
  'KGS': 92.504488,
  'KHR': 4289.900551,
  'KMF': 486.236415,
  'KPW': 952.301744,
  'KRW': 1392.016276,
  'KWD': 0.324917,
  'KYD': 0.882879,
  'KZT': 491.416259,
  'LAK': 17945.836128,
  'LBP': 16137.389953,
  'LKR': 357.565046,
  'LRD': 170.267341,
  'LSL': 19.480879,
  'LTL': 3.124559,
  'LVL': 0.640089,
  'LYD': 5.090084,
  'MAD': 11.040623,
  'MDL': 19.732645,
  'MGA': 4573.494972,
  'MKD': 61.914594,
  'MMK': 2224.618238,
  'MNT': 3737.855738,
  'MOP': 8.563208,
  'MRO': 377.773463,
  'MUR': 49.575274,
  'MVR': 16.306575,
  'MWK': 1111.098788,
  'MXN': 20.070552,
  'MYR': 4.744712,
  'MZN': 66.77289,
  'NAD': 19.481519,
  'NGN': 486.767044,
  'NIO': 38.687631,
  'NOK': 11.379251,
  'NPR': 140.276783,
  'NZD': 1.70878,
  'OMR': 0.407338,
  'PAB': 1.05936,
  'PEN': 4.024823,
  'PGK': 3.725134,
  'PHP': 58.14863,
  'PKR': 299.864474,
  'PLN': 4.700375,
  'PYG': 7613.025131,
  'QAR': 3.853396,
  'RON': 4.918039,
  'RSD': 117.284422,
  'RUB': 42.592564,
  'RWF': 1159.246578,
  'SAR': 3.974344,
  'SBD': 8.698736,
  'SCR': 14.603789,
  'SDG': 629.098724,
  'SEK': 11.204523,
  'SGD': 1.430032,
  'SHP': 1.287552,
  'SLE': 22.007437,
  'SLL': 20899.241762,
  'SOS': 601.584539,
  'SRD': 36.838218,
  'STD': 21902.385802,
  'SVC': 9.269558,
  'SYP': 2658.630964,
  'SZL': 19.481686,
  'THB': 36.640843,
  'TJS': 11.567716,
  'TMT': 3.703663,
  'TND': 3.314514,
  'TOP': 2.49029,
  'TRY': 20.09481,
  'TTD': 7.189937,
  'TWD': 32.390968,
  'TZS': 2478.98665,
  'UAH': 38.92714,
  'UGX': 3967.172489,
  'USD': 1.058189,
  'UYU': 41.682432,
  'UZS': 12126.851248,
  'VEF': 2546202.173436,
  'VES': 25.365119,
  'VND': 24949.462513,
  'VUV': 126.007525,
  'WST': 2.882861,
  'XAF': 656.393568,
  'XAG': 0.048674,
  'XAU': 0.000552,
  'XCD': 2.85981,
  'XDR': 0.798252,
  'XOF': 647.084941,
  'XPF': 120.157701,
  'YER': 264.918132,
  'ZAR': 19.536188,
  'ZMK': 9524.975613,
  'ZMW': 21.733826,
  'ZWL': 340.736581}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [3]:
# Turn the data into a dataframe
df = pd.DataFrame(response.json())
df

     success   timestamp base        date        rates
AED     True  1678910943  EUR  2023-03-15     3.886621
AFN     True  1678910943  EUR  2023-03-15    93.120518
ALL     True  1678910943  EUR  2023-03-15   115.237677
AMD     True  1678910943  EUR  2023-03-15   410.995354
ANG     True  1678910943  EUR  2023-03-15     1.909109
..       ...         ...  ...         ...          ...
YER     True  1678910943  EUR  2023-03-15   264.918132
ZAR     True  1678910943  EUR  2023-03-15    19.536188
ZMK     True  1678910943  EUR  2023-03-15  9524.975613
ZMW     True  1678910943  EUR  2023-03-15    21.733826
ZWL     True  1678910943  EUR  2023-03-15   340.736581

[170 rows x 5 columns]

In [4]:
# Drop unnescessary columns
df.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
df

           rates
AED     3.886621
AFN    93.120518
ALL   115.237677
AMD   410.995354
ANG     1.909109
..           ...
YER   264.918132
ZAR    19.536188
ZMK  9524.975613
ZMW    21.733826
ZWL   340.736581

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [5]:
# Save the Dataframe
df.to_csv('exchange_rates_1.csv', index = True)

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).